@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner-container { 
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.spinner-wrapper {
    display: inline-block;
    text-align: center;
    margin: auto auto;
}

.spinner-wrapper .spinner:before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin: auto auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
  border-top-color: var(--primary-color-darkest);;
  animation: spinner .6s linear infinite;
}
