.page .page-body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
}

@media (1600px <= width) {
    .page {
        display: grid;
        grid-template-columns: 400px auto 400px;
        width: 100%;
        max-width: 1600px;
        margin: 50px auto;
    }
}

@media (1220px < width < 1600px) {
    .page {
        display: grid;
        grid-template-columns: 400px auto;
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
    }
}
@media (width <= 1220px) {
    .page .page-body {
        box-sizing: border-box;
        margin: 0 auto;
    }
}
