.page .page-body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
}

@media (1600px <= width) {
    .page {
        display: grid;
        grid-template-columns: 400px auto 400px;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media (1220px < width < 1600px) {
    .page {
        display: grid;
        grid-template-columns: 1fr 800px 1fr;
        width: 100%;
        margin: 0 auto;
    }
}
@media (700px < width <= 1220px) {
    .page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 0 auto;
    }

    .page .page-left-gutter {
        grid-row: 2 / 3;
    }
    .page .page-right-gutter {
        grid-row: 1 / 2;
    }
    .page .page-body {
        box-sizing: border-box;
        margin: 0 auto;
        grid-row: 3 / 4;
        width: 100%;
        padding-top: 10px;
    }
}
@media (width <= 700px) {
    .page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 0 auto;
    }

    .page .page-left-gutter {
        grid-row: 2 / 3;
    }
    .page .page-right-gutter {
        grid-row: 1 / 2;
    }
    .page .page-body {
        box-sizing: border-box;
        margin: 0 auto;
        grid-row: 3 / 4;
        width: 100%;
        padding-top: 10px;
    }
}
