
@media (width >= 750px) {
    #groups-page .content {
        padding: 30px;
    }
}
@media (width < 750px) {
    #groups-page .content {
        padding: 10px;
        box-sizing: border-box;
    }
}
