**/.env*
node_modules/
*.swp
web-application/public/uploads/*
web-application/public/dist
web-application/security/*
worker/security/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform
infrastructure/**/secrets/
**/*.lock.hcl
database/test-data/**
.DS_Store
