.button {
    all: unset;

    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
}
.button svg {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.2em;
    margin-right: 5px;
}


.button:hover {
    filter: opacity(80%);
}
button.button:disabled {
    filter: opacity(50%);
}


.button.default {
    background-color: var(--button-color);
    border: none;
    color: var(--button-text-color);
}
.button.default:hover{
    color: var(--primary-highlight-color);
}
.button.primary {
    background-color: var(--button-primary-color);
    border: thin solid var(--button-primary-color);
    color: var(--button-primary-text-color);
}
.button.success {
    background-color: var(--button-success-color);
    border: thin solid var(--button-success-color);
    color: var(--button-success-text-color);
}
.button.warn {
    background-color: var(--button-warn-color);
    border: thin solid var(--button-warn-color);
    color: var(--button-warn-text-color);
}
.button.warn svg {
    color: var(--button-warn-text-color) !important;
}
