.user-profile-edit-form {
    max-width: 650px;
    margin: 0 auto;
}

.user-profile-edit-form .form-field {
    padding: 10px;
    align-items: center;
}
.user-profile-edit-form .user-profile-edit-form__profile-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}
svg.user-profile-edit-form__placeholder {
    display: block;
    width: 200px;
    margin: 10px auto;
    color: var(--main-icon-color);
}
.user-profile-edit-form .submit {
    text-align: center;
}
