.user-account-setup-multifactor-authentication {
    max-width: min(100vw, 600px);
    margin: 0 auto 50px auto;
    font-size: 16px;
}
.user-account-setup-multifactor-authentication h1 {
    text-align: center;
}
.user-account-setup-multifactor-authentication__explanation {
    padding: 20px;
}


.user-account-setup-multifactor-authentication__is-pending {
    max-width: min(100vw, 400px);
    margin: 0 auto;
}
.user-account-setup-multifactor-authentication__secret {
    max-width: min(100vw, 400px);
    margin: 0 auto;
}

.user-account-setup-multifactor-authentication__controls {
    text-align: center;
}


.user-account-setup-multifactor-authentication__codes-card {
    max-width: min(100vw, 400px);
    margin: 2em auto;
    padding: 10px;
}
.user-account-setup-multifactor-authentication__codes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

}
.user-account-setup-multifactor-authentication__code {
    padding: 1em;
}
