.user-profile-edit-form {
    max-width: 650px;
    margin: 0 auto;
}

.user-profile-edit-form .form-field {
    padding: 10px;
    align-items: center;
}
.user-profile-edit-form .profile-image {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.user-profile-edit-form .profile-image .current-image svg {
    display: block;
    width: 200px;
    margin: 10px auto;
}
.user-profile-edit-form .profile-image .draft-image-file {
    display: block;
    width: 200px;
    margin: 10px auto;
}
.user-profile-edit-form .profile-image .draft-image-file img {
    border-radius: 0; 
}
.user-profile-edit-form .submit {
    text-align: center;
}
