@keyframes highlight {
    0% {
        background-color: var(--secondary-color-light);
    }
    100% {
        background-color: var(--primary-color-lightest);
    }
}

.post-comment {
    margin: 10px auto;
    font-size: 16px;
    background-color: var(--primary-color-lightest);
    border-radius: 10px;
    max-width: 100%;
}
.post-comment.highlight {
    animation-duration: 0.75s;
    animation-direction: forwards;
    animation-timing-function: ease-out;
    animation-name: highlight;
}
.post-comment .post-comment__header {
    display: grid;
    grid-template-columns: auto 48px 24px;
    padding: 10px;
    font-size: 14px;
}
.post-comment .post-comment__controls {
    text-align: right;
    padding-right: 10px;
}
.post-comment .post-comment__content {
    padding: 0 10px 15px 10px;
    white-space: pre-line;
    max-width: 100%;
}
.post-comment .post-comment__content .post-comment__moderated {
    font-size: 14px;
    padding: 7px;
    border-radius: 7px;
    background-color: var(--danger-color-lightest);
    border: thin solid var(--danger-color-light);
}
