.ios main#footerless, .android main#footerless {
    padding-bottom: 60px;
}

@media (1600px <= width) {
    main#footerless {
        box-sizing: border-box;

        margin: 65px auto 0 auto; /** push us below the header **/
        min-width: 360px;
        width: 100%;
        min-height: 600px;

        color: var(--main-text-color);
        background-color: var(--main-background-color);
    }
}

@media (1220px < width < 1600px) {
    main#footerless {
        box-sizing: border-box;

        margin: 65px auto 0 auto; /** push us below the header **/
        min-width: 360px;
        width: 100%;
        min-height: 600px;

        color: var(--main-text-color);
        background-color: var(--main-background-color);
    }
}
@media (width <= 1220px) {
    main#footerless {
        box-sizing: border-box;

        margin: 65px auto 0 auto; /** push us below the header **/
        min-width: 360px;
        width: 100%;
        min-height: 600px;

        color: var(--main-text-color);
        background-color: var(--main-background-color);
    }
}
