.link-form {
    width: 100%;
    max-width: 650px;
}
.link-form input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-right: 5px;
}
.link-form__buttons {
    margin-top: 8px;
    text-align: right;
}

@media (1600px <= width) {
    .link-form .button-text {
        display: inline-block;
    }
    .link-form .button svg {
        display: none;
    }
}

@media (700px < width < 1600px) {
    .link-form .button-text {
        display: inline-block;
    }
    .link-form .button svg {
        display: none;
    }
}
@media (width <= 700px) {
    .link-form .button-text {
        display: none;
    }
    .link-form .button svg {
        display: inline-block;
    }
}
