.group-settings-view {
    box-sizing: content-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.group-settings-view__edit {
    padding: 20px;
    border: thin solid var(--card-border-color);
    border-radius: 10px;
    background-color: var(--card-background-color);
}
.group-settings-view__delete-your-account {
    margin: 10px auto;
    padding: 20px;
    border: thin solid var(--danger-zone-border-color);
    background-color: var(--danger-zone-background-color);
    border-radius: 10px;
}
.group-settings-view__update-post-permissions {
    margin: 10px auto;
    padding: 20px;
    border: thin solid var(--danger-zone-border-color);
    background-color: var(--danger-zone-background-color);
    border-radius: 10px;
}
.group-settings-view__delete-your-account .group-settings-view__explanation,
.group-settings-view__update-post-permissions .group-settings-view__explanation {
    padding: 10px;
}
.group-settings-view__delete-your-account .group-settings-view__button-wrapper, 
.group-settings-view__update-post-permissions .group-settings-view__button-wrapper {
    text-align: center;
}
