.group-form { 
    box-sizing: border-box;
    max-width: 700px;
    margin: 0 auto;
}
.group-form .group-form__group-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}
.group-form .group-form__group-image svg.placeholder {
    display: block;
    width: 200px;
    margin: 10px auto;
    color: var(--main-border-color);
}
.group-form .group-form__type svg {
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    margin-bottom: -0.2em;
}
.group-form .group-form__controls {
    text-align: center;
}
.group-form__errors {
    padding: 10px;
    text-align: center;
    color: var(--danger-color-main);
}
