.user-menu {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.user-menu .user-menu__trigger {
    font-size: 18px;
    color: var(--header-text-color);
}
.user-menu .user-menu__trigger .profile-image svg {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 6px;
}
.user-menu .user-menu__trigger .profile-image img {
    display: inline-block;
    height: 30px;
    margin-right: 6px;
}
.user-menu .navigation-text {
    display: inline-block;
    padding: 0 5px;
}

.user-menu .logged-in-user {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
}
.user-menu.not-authenticated {
    padding: 0 10px 0 0;
}
.user-menu.not-authenticated a:link, 
.user-menu.not-authenticated a:active, 
.user-menu.not-authenticated a:visited,
.user-menu.not-authenticated a:hover {
    padding: 5px;
    margin: 0 5px;
}

.user-menu .user-menu__body {
    top: 55px;
}
.user-menu .user-menu__body svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: -4px;
}

@media (width < 1000px) {
    .user-menu .navigation-text {
        display: none;
    }
}
