.email-confirmation-page__sent {
    border: thin solid var(--success-color-main);
    background-color: var(--success-color-main);
    font-size: 16px;
    color: white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 7px;
}


@media (width > 700px) {
        #email-confirmation-page {
                box-sizing: border-box;
                display: block;
                margin: 40px auto;
                padding: 30px;
                width: 600px;
                border: thin solid var(--main-border-color);
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 7px -5px rgba(0,0,0,0.25);
                text-align: center;
        }
}
@media (width <= 700px) {
    #email-confirmation-page {
        box-sizing: border-box;
        display: block;
        margin: 20px auto;
        padding: 10px;
        width: 100%;
        border-top: thin solid var(--main-border-color);
        border-bottom: thin solid var(--main-border-color);
        background-color: white;
        text-align: center;
    }
}
