@media (width > 700px) {
    #reset-password .page-body {
        margin: 0;
        padding: 0;
    }

    #reset-password .page-body .form-wrapper {
        margin: 50px auto;
        box-sizing: border-box;
        display: block;
        padding: 20px;
        width: 600px;
        border: thin solid var(--main-border-color);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 7px -5px rgba(0,0,0,0.25);
        z-index:101;
    }
}
@media (width <= 700px) {
    #reset-password .page-body .form-wrapper {
        box-sizing: border-box;
        display: block;
        padding: 10px;
        width: 100%;
        border-top: thin solid var(--main-border-color);
        border-bottom: thin solid var(--main-border-color);
        background-color: white;
        z-index:101;
    }
}

header:has(~ main > #reset-password) {
    display: none;
}
