:root {

    /**************************************************************************
     * Color Palette
     *************************************************************************/

    /* PRIMARY */
    --primary-color-lightest: #FAFBFC; /* Hue: 204, Saturation: 1, Value: 99  -- Off the pattern for a more grey hue. */
    --primary-color-lighter: #f2f6f9; /* Hue: 210, Saturation: 3, Value: 98 */
    --primary-color-light: #e6ecf2; /* Hue: 210, Saturation: 5, Value: 95 */
    --primary-color-grey: #797c7f;

    --primary-color-main-light: #6daff2; /* Hue: 210, Saturation: 55, Value: 95 */
    --primary-color-main: #398fe5; /* Hue: 210, Saturation: 75, Value: 90 */
    --primary-color-main-dark: #1162b2; /* Hue: 210, Saturation: 90, Value: 70 */

    --primary-color-dark: #44484c; /* Hue: 210, Saturation: 11, Value: 30 */
    --primary-color-darker: #2c2f33; /* Hue: 210, Saturation: 12, Value: 20 */
    --primary-color-darkest: #161719; /* Hue: 210, Saturation: 12, Value: 10 */


    /* SECONDARY */
    --secondary-color-lightest: #fffbf9; /* Hue: 23, Saturation: 2, Value: 100 */
    --secondary-color-lighter: #f9f5f2; /* Hue: 23, Saturation: 3, Value: 98 */
    --secondary-color-light: #f2e3da; /* Hue: 23, Saturation: 10, Value: 95 */

    --secondary-color-main-light: #f2a06d; /* Hue: 23, Saturation: 55, Value: 95 */
    --secondary-color-main: #f98e4a; /* Hue: 23, Saturation: 70, Value: 98 */
    --secondary-color-main-dark: #b24f11; /* Hue: 23, Saturation: 90, Value: 70 */

    --secondary-color-dark: #4d4845; /* Hue: 23, Saturation: 10, Value: 30 */
    --secondary-color-darker: #332f2c; /* Hue: 23, Saturation: 12, Value: 20 */ 
    --secondary-color-darkest: #191716; /* Hue: 23, Saturation: 12, Value: 10 */


    /* SUCCESS */
    --success-color-lightest: #FAFFFA; /* Hue: 120, Saturation: 2, Value: 100 */
    --success-color-lighter: #f2f9f2; /* Hue: 120, Saturation: 3, Value: 98 */
    --success-color-light: #daf2da; /* Hue: 120, Saturation: 10, Value: 95 */

    --success-color-main-light: #6df26d; /* Hue: 120, Saturation: 55, Value: 95 */ 
    --success-color-main: #3fcc3f; /* Hue: 120, Saturation: 69, Value: 80 */
    --success-color-main-dark: #11b211; /* Hue: 120, Saturation: 90, Value: 70 */

    --success-color-dark: #454d45; /* Hue: 120, Saturation: 10, Value: 30 */
    --success-color-darker: #2d332d; /* Hue: 120, Saturation: 10, Value: 20 */ 
    --success-color-darkest: #191a19; /* Hue: 120, Saturation: 4, Value: 10 */


    /* DANGER */
    --danger-color-lightest: #FFFAFA; /* Hue: 0, Saturation: 2, Value: 100 */
    --danger-color-lighter: #f9f2f2; /* Hue: 0, Saturation: 3, Value: 98 */ 
    --danger-color-light: #f2dada; /* Hue: 0, Saturation: 10, Value: 95 */

    --danger-color-main-light: #f26d6d; /* Hue: 0, Saturation: 55, Value: 95 */ 
    --danger-color-main: #bc0303; /* Hue: 0, Saturation: 98, Value: 74 */
    --danger-color-main-dark: #b21111; /* Hue: 0, Saturation: 0, Value: 70 */

    --danger-color-dark: #4d4545; /* Hue: 0, Saturation: 10, Value: 30 */
    --danger-color-darker: #332d2d; /* Hue: 0, Saturation: 10, Value: 20 */ 
    --danger-color-darkest: #1a1919; /* Hue: 0, Saturation: 4, Value: 10 */

    /**************************************************************************
     * End Color Palette
     *************************************************************************/
    --primary-highlight-color: var(--primary-color-main);
    --success-highlight-color: var(--success-color-main);
    --warn-highlight-color: var(--danger-color-dark);

    --header-background-color: white;
    --header-border-color: var(--primary-color-light);
    --header-text-color: var(--primary-color-darkest);
    --header-text-highlight-color: var(--primary-color-dark);

    --footer-background-color: white;
    --footer-border-color: var(--primary-color-light);
    --footer-text-color: var(--primary-color-darkest);

    --main-background-color: var(--primary-color-lightest);
    --main-border-color: var(--primary-color-light);
    --main-text-color: var(--primary-color-darkest);
    --main-text-color-dim: var(--primary-color-dark);

    --menu-background-color: white;
    --menu-border-color: var(--primary-color-light);
    --menu-trigger-text-color: var(--primary-color-darkest);
    --menu-trigger-text-highlight-color: var(--primary-color-dark);
    --menu-text-color: var(--primary-color-darkest);
    --menu-text-color-dim: var(--primary-color-dark);
    --menu-text-highlight-color: white;
    --menu-background-highlight-color: var(--primary-color-main);
    --menu-disabled-text-color: var(--primary-color-light);
    --menu-shadow-color: rgba(0,0,0,0.25);

    --navigation-menu-item-text-color: var(--primary-color-darkest);
    --navigation-menu-item-highlight-text-color: var(--primary-color-dark);
    --navigation-menu-item-highlight-background-color: var(--primary-color-light);

    --profile-icon-color: var(--primary-color-light);
    --icon-color: var(--primary-color-darkest);

    --card-header-background-color: var(--primary-color-lightest);
    --card-border-color: var(--primary-color-light);
    --card-background-color: white;
    --card-shadow-color: rgba(0,0,0,0.25);

    --danger-zone-background-color: var(--danger-color-lightest);
    --danger-zone-border-color: var(--danger-color-light);

    --post-info-text-color: var(--primary-color-dark);
    --post-moderation-background: var(--danger-color-lightest);
    --post-moderation-border: var(--danger-color-light);

    --post-show-comments-highlight-background: white;

    --post-comment-background-color: var(--primary-color-lightest);
    --post-comment-text-color: var(--primary-color-darkest);
    --post-comment-moderated-background: var(--danger-color-lightest);
    --post-comment-moderated-border: var(--danger-color-light);

    --post-create-button-text-color: var(--primary-color-dark);
    --post-create-button-background-color: var(--primary-color-lightest);
    --post-create-button-highlight-background-color: white;
    --post-create-button-highlight-text-color: var(--primary-color-darkest);

    --post-comment-create-button-text-color: var(--primary-color-dark);
    --post-comment-create-button-background-color: var(--primary-color-lightest);
    --post-comment-create-button-highlight-background-color: white;
    --post-comment-create-button-highlight-text-color: var(--primary-color-darkest);

    --link-preview-background: var(--primary-color-lightest);
    --link-preview-site-text-color: var(--primary-color-dark);
    --link-preview-title-text-color: var(--primary-color-darkest);
    --link-preview-description-text-color: var(--primary-color-dark);

    --modal-background-color: white;
    --modal-border-color: var(--primary-color-light);

    --input-background-color: var(--primary-color-lightest);
    --input-focus-background-color: white;
    --input-border-color: var(--primary-color-light);
    --input-highlight-color: var(--primary-color-main);
    --input-placeholder-color: var(--primary-color-grey);

    --link-color: var(--primary-color-main);
    --link-highlight-color: var(--primary-color-main-light);

    --button-color: var(--primary-color-light);
    --button-highlight-color: var(--primary-color-lightest);
    --button-text-color: var(--primary-color-dark);

    --button-primary-color: var(--primary-color-main);
    --button-primary-highlight-color: var(--primary-color-main-light);
    --button-primary-text-color: white;

    --button-success-color: var(--success-color-main);
    --button-success-highlight-color: var(--success-color-main-light);
    --button-success-text-color: white;

    --button-warn-color: var(--danger-color-main);
    --button-warn-highlight-color: var(--danger-color-main-light);
    --button-warn-text-color: white;

    .dark {
        --primary-highlight-color: var(--primary-color-main);
        --success-highlight-color: var(--success-color-main);
        --warn-highlight-color: var(--danger-color-light);

        --header-background-color: var(--primary-color-dark);
        --header-border-color: var(--primary-color-darker);
        --header-text-color: var(--primary-color-lightest);
        --header-text-highlight-color: var(--primary-color-light);

        --footer-background-color: var(--primary-color-dark);
        --footer-border-color: var(--primary-color-darker);
        --footer-text-color: var(--primary-color-lightest);

        --main-background-color: var(--primary-color-darkest);
        --main-border-color: var(--primary-color-darker);
        --main-text-color: var(--primary-color-lightest);
        --main-text-color-dim: var(--primary-color-light);

        --menu-background-color: var(--primary-color-dark);
        --menu-border-color: var(--primary-color-darker);
        --menu-trigger-text-color: var(--primary-color-lightest);
        --menu-trigger-text-highlight-color: var(--primary-color-light);
        --menu-text-color: var(--primary-color-lightest);
        --menu-text-color-dim: var(--primary-color-light);
        --menu-text-highlight-color: var(--primary-color-lightest);
        --menu-background-highlight-color: var(--primary-color-main);
        --menu-disabled-text-color: var(--primary-color-darker);
        --menu-shadow-color: rgba(0,0,0,0.25);

        --navigation-menu-item-text-color: var(--primary-color-lightest);
        --navigation-menu-item-highlight-text-color: var(--primary-color-light);
        --navigation-menu-item-highlight-background-color: var(--primary-color-darker);

        --profile-icon-color: var(--primary-color-light);
        --icon-color: var(--primary-color-lightest);

        --card-header-background-color: var(--primary-color-darkest);
        --card-border-color: var(--primary-color-darker);
        --card-background-color: var(--primary-color-dark);
        --card-shadow-color: rgba(255,255,255,0.25);

        --danger-zone-background-color: var(--danger-color-dark);
        --danger-zone-border-color: var(--danger-color-darker);

        --post-info-text-color: var(--primary-color-light);
        --post-moderation-background: var(--danger-color-darkest);
        --post-moderation-border: var(--danger-color-dark);

        --post-show-comments-highlight-background: var(--primary-color-darker);

        --post-comment-background-color: var(--primary-color-darker);
        --post-comment-text-color: var(--primary-color-lightest);
        --post-comment-moderated-background: var(--danger-color-darkest);
        --post-comment-moderated-border: var(--danger-color-dark);

        --post-create-button-text-color: var(--primary-color-light);
        --post-create-button-background-color: var(--primary-color-darker);
        --post-create-button-highlight-background-color: var(--primary-color-darkest);
        --post-create-button-highlight-text-color: var(--primary-color-lightest);

        --post-comment-create-button-text-color: var(--primary-color-light);
        --post-comment-create-button-background-color: var(--primary-color-darker);
        --post-comment-create-button-highlight-background-color: var(--primary-color-darkest);
        --post-comment-create-button-highlight-text-color: var(--primary-color-lightest);

        --link-preview-background: var(--primary-color-darker);
        --link-preview-site-text-color: var(--primary-color-light);
        --link-preview-title-text-color: var(--primary-color-lightest);
        --link-preview-description-text-color: var(--primary-color-light);

        --modal-background-color: var(--primary-color-dark);
        --modal-border-color: var(--primary-color-darker);

        --input-background-color: var(--primary-color-dark);
        --input-focus-background-color: var(--primary-color-dark);
        --input-border-color: var(--primary-color-darker);
        --input-highlight-color: var(--primary-color-main);
        --input-placeholder-color: var(--primary-color-light);

        --link-color: var(--primary-color-main);
        --link-highlight-color: var(--primary-color-main-light);

        --button-color: var(--primary-color-darker);
        --button-highlight-color: var(--primary-color-darkest);
        --button-text-color: var(--primary-color-lightest);

        --button-primary-color: var(--primary-color-main);
        --button-primary-highlight-color: var(--primary-color-main-light);
        --button-primary-text-color: white;

        --button-success-color: var(--success-color-main);
        --button-success-highlight-color: var(--success-color-main-light);
        --button-success-text-color: white;

        --button-warn-color: var(--danger-color-main);
        --button-warn-highlight-color: var(--danger-color-main-light);
        --button-warn-text-color: white;

    }
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    font-family: Roboto, Arial, sans-serif; 
    /*font-family: "Atkinson Hyperlegible", Roboto, Arial, sans-serif;*/
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-color: var(--main-background-color);
    color: var(--main-text-color);

    overflow-y: auto;
    overflow-wrap: break-word;
}
body.android, body.ios {
    padding-top: 40px;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: var(--link-color); 
}

a:hover {
    text-decoration: none;
    color: var(--link-highlight-color); 
}

input[type="text"], input[type="password"], textarea {
    box-sizing: border-box;
    padding: 7px;
    background-color: var(--input-background-color);
    border: thin solid var(--input-border-color);
    border-radius: 7px;
    font-family: Roboto, Arial, sans-serif; 
    font-size: 16px;
    color: var(--main-text-color);
}
input::placeholder, textarea::placeholder {
    font-family: Roboto, Arial, sans-serif; 
    font-size: 14px;
    color: var(--input-placeholder-color);
}

input[type="submit"] {
    all: unset;

    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;

    background-color: var(--primary-color-main);
    border: thin solid var(--primary-color-main);
    color: white;
}
input[type="submit"]:hover {
    filter: opacity(80%);
}

svg.icon { 
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
}

#root {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.maintenance-mode {
    width: 800px;
    margin: 100px auto;
    text-align: center;
}

@media (width >= 700px) {
    #root {
        min-height: 100vh;
    }

}
@media (width < 700px) {

}

