
.create-post {
    display: grid;
    grid-template-columns: 60px auto;
}

.create-post .profile-image svg {
    width: 60px;
    height: 60px;
}

.create-post a.create-post-button:link,
.create-post a.create-post-button:active,
.create-post a.create-post-button:visited {
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    color: var(--page-text-color);
    background-color: var(--primary-color-lightest);
    border: thin solid var(--primary-color-light);
    border-radius: 10px;
}

.create-post a.create-post-button:hover {
    background-color: white;
}
