.accept-invitation-form { 
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.accept-invitation-form h2 {
    text-align: center;
}
.accept-invitation-form .instructions {
    font-size: 16px;
    line-height: 1.7em;
    text-align: center;
    padding: 20px;
}

.accept-invitation-form .field-wrapper {
    padding: 10px;
}
.accept-invitation-form .submit {
    text-align: center;
}
