.login-form { 
    display: block;
    background-color: white;
}
.login-form h2 {
    text-align: center;
}
.login-form .submit {
    text-align: center;
}
.login-form .error {
    text-align: center;
    color: red;
}
.login-form .inner-wrapper {
    text-align: center;
}
.login-form .forgot-password {
    padding: 10px;
}

@media (width >= 700px) {
    .login-form { 
        display: block;
        box-sizing: border-box;
        padding: 20px;
        border: thin solid var(--main-border-color);
        border-radius: 10px;
        max-width: 500px;
        margin: 0 auto;
        max-height: 387px;
    }
    .login-form .inner-wrapper {
        margin: 10px auto;
        width: 430px;
    }
    .login-form .field-wrapper {
        display: flex;
        box-sizing: border-box;
        padding: 10px;
    }
    .login-form .field-wrapper.submit {
        justify-content: center;
    }
}
@media (width < 700px) {
    .login-form { 
        display: block;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        border-top: thin solid var(--main-border-color);
        border-bottom: thin solid var(--main-border-color);
    }

    .login-form .field-wrapper {
        box-sizing: border-box;
        padding: 10px 0;
    }
}

