.reset-password-form { 
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.reset-password-form .instructions {
    text-align: center;
}
.reset-password-form .submit {
    text-align: center;
}
