.post {
    background-color: white;
    font-size: 16px;
}
.post.shared {
    max-width: 630px;
    width: 100%;
    margin: 10px auto;
    box-shadow: none;
    border-radius: 7px;
}
.post.shared img {
    border-radius: 0 0 7px 7px;
}
.post.shared .link-preview {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.post.shared .link-preview__details {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.post .post__header {
    font-size: 14px;
    padding: 10px;
    display: grid;
    grid-template-columns: 40px auto 48px 24px;
}
.post .post__header .post__poster-image .profile-image {
    width: 100%;
    height: 100%;
}
.post .post__header .post__details {
    padding: 4px 10px;
}
.post .post__header .post__controls {
    text-align: right;
    padding-top: 3px;
    padding-right: 10px;
}

.post .post__post-visibility {
    font-size: 12px;
}
.post .post__post-visibility svg {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.2em;
    color: var(--primary-color-dark);
}

.post .post__content {
    padding: 0 10px 15px 10px;
    white-space: pre-line;
    word-wrap: break-word;
}
.post .post__content .post__moderated {
    font-size: 14px;
}
.post .post__show-more {
    padding: 10px;
    text-align: center;
}
.post .post__error {
    text-align: center;
    padding: 50px;
}
.post .post__error h1 {
    padding: 0 0 1em 0;
    margin: 0 auto;
}

@media (width >= 700px) {
    .post {
        border: thin solid var(--main-border-color);
        border-radius: 7px;
        padding: 0;
        width: 650px;
        margin: 20px auto;
        box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.25);
    }
}
@media (width < 700px) {
    .post {
        border-top: thin solid var(--main-border-color);
        border-bottom: thin solid var(--main-border-color);
        padding: 0;
        width: 100%;
        margin: 10px auto;
    }
}
