.group-feed .group-feed__controls {
    max-width: 650px;
    margin: 20px auto 20px auto;
}

.group-feed__sort-menu { 
    border-bottom: thin solid var(--main-border-color); 
    text-align: left;
}
.group-feed__sort-menu .title { margin-left: 5px; }
.group-feed__sort-menu a.sort-option { display: inline-block; padding: 10px 20px; }
.group-feed__sort-menu a.sort-option.current{
    border-bottom: thin solid var(--primary-color-main);
}

.group-feed__sort-menu a.sort-option:link,
.group-feed__sort-menu a.sort-option:visited,
.group-feed__sort-menu a.sort-option:active,
.group-feed__sort-menu a.sort-option:hover {
    color: var(--main-text-color);
}
