.post-list {
/*    border-top: 1px solid var(--main-border-color);*/
    padding: 0;
    margin: 20px auto;
    max-width: 700px;
}
.post-list .post-list__controls {
    max-width: 650px;
    margin: 0 auto 20px auto;
}
