.welcome-splash {
    margin: 200px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.welcome-splash .intro {
    font-size: 24px;
    line-height: 1.7em;
}
.welcome-splash .intro .beta {
    font-size: 16px;
    font-style: italic;
}

