.navigation-menu {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
}

.navigation-menu li {
    font-size: 18px;
}
.navigation-menu a svg {
    width: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color);
}
.navigation-menu a:link,
.navigation-menu a:visited,
.navigation-menu a:active {
    display: block;
    padding: 10px;
    color: var(--primary-color-darkest);
}
.navigation-menu a:hover {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}
.navigation-menu a.active  {
    font-weight: bold;
}


.navigation-menu .outline { 
    display: inline-block;
}
.navigation-menu .active .outline { 
    display: none;
}

.navigation-menu  .solid {
    display: none;
}
.navigation-menu  .active .solid{
    display: inline-block;
}

@media (width <= 1220px) {

    .navigation-menu {
        text-align: center;
    }

    .navigation-menu li {
        display: inline-block;
    }
    
    .navigation-menu .navigation-menu__item .nav-text {
        display: block;
        font-size: 10px;
    }

    .navigation-menu .navigation-menu__button .nav-text {
        display: block;
        font-size: 10px;
    }

}
