a.navigation-menu__action.navigation-submenu__action svg {
    width: 18px;
    margin-right: 3px;
    margin-bottom: -3px;
}
a.navigation-menu__action.navigation-submenu__action {
    padding: 7px;
    font-size: 14px;

}
a.navigation-menu__action.navigation-submenu__action:hover {
    border-radius: 7px;
}

@media ( width <= 1220px) {
    .navigation-menu__sub-menu a.navigation-menu__action {
        white-space: nowrap;
    }
    .navigation-menu__sub-menu a.navigation-menu__action:hover {
        border-radius: 0;
    }
    .navigation-menu__sub-menu a.navigation-menu__action .nav-text {
        display: inline-block;
        font-size: 14px;
    }
}
