.navigation-menu__sub-menu a.navigation-menu__sub-menu__header {
    padding: 10px;
    font-size: 18px;
}
.navigation-menu__sub-menu a.navigation-menu__sub-menu__header:hover {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}
.navigation-menu__sub-menu a.navigation-menu__sub-menu__header:link,
.navigation-menu__sub-menu a.navigation-menu__sub-menu__header:visited,
.navigation-menu__sub-menu a.navigation-menu__sub-menu__header:active {
    display: block;
    padding: 10px;
    color: var(--primary-color-darkest);
}
.navigation-menu__sub-menu a.navigation-menu__sub-menu__header svg {
    width: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color);
}

.navigation-menu__sub-menu__menu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}

@media (width <= 1220px) {
    .navigation-menu__sub-menu a.navigation-menu__sub-menu__header .nav-text {
        display: block;
        font-size: 10px;
    }

    .navigation-menu__sub-menu {
        position: relative;
    }

    .navigation-menu__sub-menu__menu {
        position: absolute;
        top: 2.6em;
        text-align: left;
        background-color: white; 
        border: thin solid var(--floating-menu-border-color);
        box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.25);
        padding: 5px 0;
        z-index: 10;
        border-radius: 7px;
    }
    .navigation-menu__sub-menu__menu.navigation-menu__sub-menu__pin-left {
        left: 0;
    }
    .navigation-menu__sub-menu__menu.navigation-menu__sub-menu__pin-right {
        right: 0;
    }
}
