.dropdown-menu { 
    display: inline-block;
    position: relative;
}


.dropdown-menu .dropdown-menu__trigger {
    font-size: 14px;
    cursor: pointer;
}
.dropdown-menu .dropdown-menu__trigger a:link {
    color: var(--main-text-color);
}
.dropdown-menu .dropdown-menu__trigger a:active,
.dropdown-menu .dropdown-menu__trigger a:hover,
.dropdown-menu .dropdown-menu__trigger a:visited {
    color: var(--main-text-color);
    filter: brightness(90%);
}


.dropdown-menu .dropdown-menu__body {
    position: absolute;
    top: 2.6em;
    right: 0;
    text-align: left;
    background-color: white; 
    border: thin solid var(--floating-menu-border-color);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.25);
    padding: 5px 0;
    z-index: 10;
    border-radius: 7px;
}


.dropdown-menu .dropdown-menu__body .dropdown-menu__header {
    border-bottom: thin solid var(--dropdown-menu-border-color);
}
.dropdown-menu .dropdown-menu__body .dropdown-menu__header .dropdown-menu__header-top {
    display: grid;
    grid-template-columns: 6fr 1fr;
    border-bottom: thin solid var(--dropdown-menu-border-color);
}
.dropdown-menu .dropdown-menu__body .dropdown-menu__header .dropdown-menu__header-title { 
    padding: 10px;
    font-weight: bold;
    white-space: nowrap;
}
.dropdown-menu .dropdown-menu__body .dropdown-menu__header .dropdown-menu__header-bottom {
    padding: 5px;
}


.dropdown-menu .dropdown-menu__body .dropdown-menu__item {
    display: block;
    white-space: nowrap;
    padding: 5px 20px;
}
.dropdown-menu .dropdown-menu__body a.dropdown-menu__item:link, 
.dropdown-menu .dropdown-menu__body a.dropdown-menu__item:visited {
    color: var(--main-text-color);
}

.dropdown-menu .dropdown-menu__body a.dropdown-menu__item:active,
.dropdown-menu .dropdown-menu__body a.dropdown-menu__item:hover {
    color: white;
    background-color: var(--primary-highlight-color);
}
.dropdown-menu .dropdown-menu__body .dropdown-menu__item a:active,
.dropdown-menu .dropdown-menu__body .dropdown-menu__item a:hover {
    color: white;
}

.dropdown-menu .dropdown-menu__body .dropdown-menu__item.dropdown-menu__item__disabled {
    display: block;
    white-space: nowrap;
    padding-left: 20px;
    color: var(--primary-color-light);
}

