.dropdown-menu__item {
    display: block;
    white-space: nowrap;
    padding: 5px 20px;
}
a.dropdown-menu__item:link, 
a.dropdown-menu__item:visited {
    color: var(--main-text-color);
}

a.dropdown-menu__item:active,
a.dropdown-menu__item:hover {
    color: white;
    background-color: var(--primary-highlight-color);
}
.dropdown-menu__item a:active,
.dropdown-menu__item a:hover {
    color: white;
}

.dropdown-menu__item.dropdown-menu__item__disabled {
    display: block;
    white-space: nowrap;
    padding-left: 20px;
    color: var(--primary-color-light);
}

