.dropdown-menu__body {
    position: absolute;
    top: 2.6em;
    right: 0;
    text-align: left;
    background-color: white; 
    border: thin solid var(--floating-menu-border-color);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.25);
    padding: 5px 0;
    z-index: 10;
    border-radius: 7px;
    max-width: 340px;
}
