.post {
    border: thin solid var(--main-border-color);
    border-radius: 7px;
    padding: 0;
    width: 650px;
    margin: 20px auto;
    font-size: 16px;
}
.post .header {
    font-size: 14px;
    padding: 10px 10px 5px 10px;
}
.post .content {
    padding: 15px 10px;
    white-space: pre-line;
}

