.list__grid-content {
    margin: 0 auto;
    width: 100%;
    max-width: 760px;
    min-width: 360px;

}
.list__grid-content__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
