button.back-button {
    border: none;
    padding: 0;
    margin: 0;

    background-color: var(--main-background-color);
    color: var(--main-text-color);
}
button.back-button:hover {
    color: var(--main-text-highlight-color);
}
button.back-button svg {
    display: inline-block;
    width: 18px;
    height: 18px;
}


@media (width > 700px ) {
    .back-button {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
    }
}

@media (width <= 700px) {
    .back-button {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
    }
    .back-button .back-button__text {
        font-size: 10px;
    }
}
