#error-404 .error-404__error {
    padding: 20px;
    border: thin solid var(--main-border-color);
    border-radius: 10px;
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
}
#error-404 h1 {
    font-size: 2em;
    text-align: center;
}
