.error-404__error {
    padding: 20px;
    border: thin solid var(--card-border-color);
    background-color: var(--card-background-color);
    color: var(--main-text-color);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
}
.error-404__error h1 {
    font-size: 2em;
    text-align: center;
}
