.error-modal .modal {
    border: thin solid var(--danger-color-light);
    color: var(--danger-color-dark);
    z-index: 2000;
}
.error-modal .modal .modal__close svg {
    color: var(--danger-color-main);
}
.error-modal__wrapper {
    padding: 10px;
}
.error-modal .error-modal__wrapper a:link,
.error-modal .error-modal__wrapper a:visited,
.error-modal .error-modal__wrapper a:active {
    color: var(--danger-color-main);
}
.error-modal .error-modal__wrapper a:hover {
    color: var(--danger-color-main-highlight);
}
.error-modal .error-modal__button {
    text-align: center;
}
