.error-modal .modal {
    border: thin solid var(--danger-color-light);
    color: var(--danger-color-dark);
}
.error-modal svg.error-modal__warning { 
    float: left;
    margin: 10px 10px;
    width: 96px;
    height: 96px;
    color: var(--danger-color-light);
}
.error-modal .modal .modal__close svg {
    color: var(--danger-color-light);
}
.error-modal__wrapper {
    padding: 20px;
}
.error-modal .error-modal__wrapper a:link,
.error-modal .error-modal__wrapper a:visited,
.error-modal .error-modal__wrapper a:active {
    color: var(--danger-color-main);
}
.error-modal .error-modal__wrapper a:hover {
    color: var(--danger-color-main-highlight);
}
