.sort-menu { 
    border-bottom: thin solid var(--main-border-color); 
    text-align: left;
}
.sort-menu .title { margin-left: 5px; }
.sort-menu a.sort-option { display: inline-block; padding: 10px 20px; }
.sort-menu a.sort-option.current{
    border-bottom: thin solid var(--primary-color-main);
}

.sort-menu a.sort-option:link,
.sort-menu a.sort-option:visited,
.sort-menu a.sort-option:active,
.sort-menu a.sort-option:hover {
    color: var(--main-text-color);
}
