.post-comment-form .textarea-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.post-comment-form textarea {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    resize: none;
}

.post-comment-form .buttons {
    text-align: right;
    font-size: 12px;
}

.post-comment-form .error {
    text-align: center;
    color: var(--danger-color-main);
}

a.create-comment {
    display: block;
    margin: 5px auto;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
}

a.create-comment:link,
a.create-comment:visited,
a.create-comment:active {
    color: var(--primary-color-dark);
    background-color: var(--primary-color-lightest);
}

a.create-comment:hover {
    color: var(--primary-color-darkest);
    background-color: white;
}
