@media (width >= 750px) {
    #user-account-page .content {
        padding: 0 30px;
    }
}
@media (width < 750px) {
    #user-account-page .content {
        padding: 0 30px;
        box-sizing: border-box;
        margin: 0 auto;
    }
}
