@media (width >= 1200px) {
    #user-profile-page { 
        display: grid;
        grid-template-columns: 400px 800px;
        width: 1200px;
        margin: 50px auto;
        background-color: var(--page-background-color);
    }
}
@media( width <= 1200px) {
    #user-profile-page { 
        display: grid;
        grid-template-rows: 510px auto;
        width: 100%;
        margin: 50px auto;
        background-color: var(--page-background-color);
    }

}

