.communities-logo {
    display: inline-block;
    font-family: "Nunito", serif;
    font-size: 30px;
    line-height: 1em;
    font-weight: 300;
    height: 30px;

    padding: 17px 0;

    text-align: left;
}
.communities-logo img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-bottom: -6px;
}
.communities-logo a:link, .communities-logo a:active, .communities-logo a:visited {
    color: var(--header-text-color);
}

.communities-logo a:hover {
    color: var(--header-text-highlight-color);
}
