.communities-logo {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    line-height: 1em;
    font-weight: 300;
    height: 30px;

    padding: 17px 0;

    text-align: left;
}
.communities-logo__logo {
    display: inline-block;
    height: 22px;
}
.communities-logo__marque {
    display: none;
    height: 30px;
}
.communities-logo a:link, .communities-logo a:active, .communities-logo a:visited {
    color: var(--header-text-color);
}

.communities-logo a:hover {
    color: var(--header-text-highlight-color);
}



@media (width <= 1000px) {
    .communities-logo__logo {
        display: none;
    }
    .communities-logo__marque {
        display: inline-block;
    }
}
