.communities-logo__logo {
    height: 22px;
}
.communities-logo__marque {
    height: 30px;
}

/** Always display the logo, not the marque **/
.communities-logo.communities-logo__always-logo .communities-logo__logo {
    display: inline-block;
}
.communities-logo.communities-logo__always-logo .communities-logo__marque {
    display: none;
}

/** Always display the marque, not the logo. **/
.communities-logo.communities-logo__always-marque .communities-logo__logo {
    display: none;
}
.commuinties-logo.communities-logo__always-marque .communities-logo__marque {
    display: inline-block;
}


@media (width > 700px ) {
    /* Responsive logo */
    .communities-logo.communities-logo__responsive .communities-logo__logo {
        display: inline-block;
    }
    .communities-logo.communities-logo__responsive .communities-logo__marque {
        display: none;
    }

}

@media (width <= 700px) {
    /* Responsive logo */
    .communities-logo.communities-logo__responsive .communities-logo__logo {
        display: none;
    }
    .communities-logo.communities-logo__responsive .communities-logo__marque {
        display: inline-block;
    }
}

@media (width <= 450px) {

}
