header {
    box-sizing: border-box;
    max-width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    border-bottom: thin solid var(--header-border-color);
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.25);
    z-index: 10;
    font-size: 18px;
    padding: 0 10px;
}
header .authenticated-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 120px 120px 120px 120px max-content;
    align-items: center;
    justify-items: center;
}
header .unauthenticated-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 120px max-content;
    align-items: center;
    justify-items: center;
}

header .communities-logo {
    justify-self: left;
}

header .floating-menu .menu-item:hover {
    color: white;
    background-color: var(--header-menu-background-highlight-color);
}
header .floating-menu .menu-item a:hover {
    color: white;
}

header a:link, header a:active, header a:visited {
    color: var(--header-text-color);
}

header a:hover {
    color: var(--header-text-highlight-color);
}
header svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: -2px;
}

header .outline {
    display: inline-block;
}
header .active .outline {
    display: none;
}
header .solid {
    display: none;
}
header .active .solid {
    display: inline-block;
}

@media (width <= 1000px) {
    header .authenticated-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    header .communities-logo {
        justify-self: center;
    }

    header a.nav-link {
        display: inline-block;
        text-align: center;
    }
    header svg {
        margin-right: 0;
    }
    header .nav-text {
        display: block;
        font-size: 10px;
        line-height: 6px;
    }
    header .communities-logo .logo-text {
        display: none;
    }
}

@media (width <= 450px) {
    header .unauthenticated-grid {
        grid-template-columns: 1fr 1fr max-content;
    }
}

