header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    border-bottom: thin solid var(--header-border-color);
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.25);
    z-index: 10;
}

header .grid {
    display: grid;
}

header #site-title {
    display: block;
    font-family: "Nunito", serif;
    font-size: 30px;
    line-height: 1em;
    font-weight: 300;
    align-items: center;
    height: 30px;

    padding: 17px 0;

    text-align: left;
}
header #site-title img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-bottom: -6px;
}

header #navigation {
    text-align: right;

    font-size: 18px;
}

header .navigation-block {
    display: inline-block;
    margin-left: 7px;
    padding: 21px 0;
}
header .navigation-block a:link, 
header .navigation-block a:active, 
header .navigation-block a:visited,
header .navigation-block a:hover {
    padding: 5px;
    margin: 0 5px;
}
header .floating-menu .menu-item:hover {
    color: white;
    background-color: var(--header-menu-background-highlight-color);
}
header .floating-menu .menu-item a:hover {
    color: white;
}

header a:link, header a:active, header a:visited {
    color: var(--header-text-color);
}

header a:hover {
    color: var(--header-text-highlight-color);
}
header svg {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: -2px;
}
header .mobile-menu-trigger {
    text-align: center;
}
header .mobile-menu-trigger svg {
    width: 24px;
    height: 24px;
    margin-bottom: -3px
}

header .mobile-menu {
    text-align: center;
}

@media (width >= 850px) {
    header .grid {
        grid-template-columns: 200px auto;
        padding: 0 25px;
    }
}
@media (width < 850px) {
    header .grid {
        grid-template-columns: 32px auto;
        padding: 0 20px;
    }
    header .nav-text {
        display: none;
    }
    header #site-title .title-text {
        display: none;
    }
}

