.group-badge {
    border: thin solid var(--main-border-color);
    border-radius: 7px;
    background-color: white;
}

.group-badge__grid {
    display: grid;
    grid-template-columns: 120px auto;
    overflow: hidden;
} 
.group-badge .group-image {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.group-badge__details {
    padding: 10px;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-word;
}
.group-badge__title {
    font-size: 18px;
}
.group-badge__about {
    font-size: 12px;
}

@media ( width < 400px ) {
    .group-badge {
        max-width: 360px;
    }
}
