#group-page .group-page__header {
    text-align: center;
}
#group-page .group-page__header .title {
    font-size: 2em;
    margin: 0.5em auto;
}
#group-page .group-page__header .type {
    font-size: 1.2em;
    color: var(--primary-color-dark);
    margin: 0.5em auto;
}
#group-page .group-page__header .type svg {
    width: 1.2em;
    height: 1.2em;
    margin-bottom: -0.2em;
}
#group-page .group-page__header .group-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 200px;
    height: 200px;
}

#group-page .details {
    font-size: 16px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
#group-page .details .about {
    font-size: 14px;
    padding: 12px;
    white-space: pre-line;
    word-wrap: break-word;
    text-align: left;
}

#group-page .group-page__controls {
    text-align: center;
    margin: 20px auto;
}

#group-page menu.group-page__menu {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
#group-page menu.group-page__menu li {
    font-size: 18px;
}
#group-page menu.group-page__menu a svg {
    width: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color);
}
#group-page menu.group-page__menu a:link,
#group-page menu.group-page__menu a:visited,
#group-page menu.group-page__menu a:active {
    display: block;
    padding: 10px;
    color: var(--primary-color-darkest);
}
#group-page menu.group-page__menu a:hover {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}
#group-page menu.group-page__menu a.active  {
    font-weight: bold;
}

#group-page menu.group-page__menu .outline { 
    display: inline-block;
}
#group-page menu.group-page__menu .active .outline { 
    display: none;
}

#group-page menu.group-page__menu .solid {
    display: none;
}
#group-page menu.group-page__menu .active .solid{
    display: inline-block;
}

#group-page .group-page__private {
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}

@media (1520px <= width) {
    #group-page .group-page__grid {
        display: grid;
        grid-template-rows: auto auto;
    }
}
@media (1200px < width < 1520px) {
    #group-page .group-page__grid {
        display: grid;
        grid-template-rows: auto auto;
    }
    #group-page menu.group-page__menu {
        text-align: center;
    }

    #group-page menu.group-page__menu li {
        display: inline-block;
    }
    
    #group-page menu.group-page__menu li .nav-text {
        display: block;
        font-size: 10px;
    }
}
@media(width <= 1200px) {
    #group-page .group-page__grid {
        display: grid;
        grid-template-rows: auto auto;
    }
    #group-page menu.group-page__menu {
        text-align: center;
    }

    #group-page menu.group-page__menu li {
        display: inline-block;
    }
    
    #group-page menu.group-page__menu li .nav-text {
        display: block;
        font-size: 10px;
    }
}

