.contribution {
    box-sizing: border-box;
    display: block;
    padding: 10px;
}
.contribution .card {
    padding: 20px;
    text-align: center;
}
.contribution .card h2 {
    padding: 0.6em 0;
    margin: 0;
}
.contribution .card .explanation {
    padding: 10px;
    font-size: 14px;
}
