.about-view {
    box-sizing: border-box;
    max-width: 700px;
    min-width: 340px;
    width: 100%;

    font-size: 16px;
    line-height: 1.7em;
    margin: 0 auto;
}
.about-view h1 {
    text-align: center;
}
.about-view h2 {
    margin-top: 2em;
}
.about-view h3 {
    margin-top: 1.5em;
}
.about-view h4 {
    margin-top: 1em;
}
.about-view li {
    padding: 0.25em 0;
}

.about-view .beta {
    font-size: 14px;
    font-style: italic;
}

.about-view h2 a:link, .about-view h2 a:active, .about-view h2 a:visited {
    color: #333;
    text-decoration: none;
}
.about-view h2 a:hover {
    color: #666;
    text-decoration: none;
}
