.contact {
    box-sizing: border-box;
    max-width: 700px;
    min-width: 340px;
    width: 100%;

    font-size: 16px;
    line-height: 1.7em;
    margin: 0 auto;
}
.contact h1 {
    text-align: center;
}
.contact h2 {
    margin-top: 2em;
}
.contact h3 {
    margin-top: 1.5em;
}
.contact h4 {
    margin-top: 1em;
}
.contact li {
    padding: 0.25em 0;
}

.contact h2 a:link, .contact h2 a:active, .contact h2 a:visited {
    color: #333;
    text-decoration: none;
}
.contact h2 a:hover {
    color: #666;
    text-decoration: none;
}
