.contribute-view {
    box-sizing: border-box;
    max-width: 800px;
    min-width: 340px;
    width: 100%;

    font-size: 16px;
    line-height: 1.7em;
    margin: 0 auto;
}
.contribute-view__intro {
    max-width: 700px;
    margin: 0 auto;
}
.contribute-view h1 {
    text-align: center;
}
.contribute-view h2 {
    margin-top: 2em;
}
.contribute-view h3 {
    margin-top: 1.5em;
}
.contribute-view h4 {
    margin-top: 1em;
}
.contribute-view li {
    padding: 0.25em 0;
}

.contribute-view .contribution-grid {
    display: grid;
    margin: 50px auto 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    align-items: center;
    justify-items: center;

}
.contribute-view .additional-contributions {
    margin: 20px auto;
    text-align: center;
}
