.faq {
    box-sizing: border-box;
    max-width: 700px;
    min-width: 340px;
    width: 100%;

    font-size: 16px;
    line-height: 1.7em;
    margin: 0 auto;
}
.faq h1 {
    text-align: center;
}
.faq h2 {
    margin-top: 2em;
}
.faq h3 {
    margin-top: 1.5em;
}
.faq h4 {
    margin-top: 1em;
}
.faq li {
    padding: 0.25em 0;
}

.faq .beta {
    font-size: 14px;
    font-style: italic;
}

.faq h2 a:link, .faq h2 a:active, .faq h2 a:visited {
    color: #333;
    text-decoration: none;
}
.faq h2 a:hover {
    color: #666;
    text-decoration: none;
}
