.tos {
    box-sizing: border-box;
    max-width: 800px;
    min-width: 340px;
    width: 100%;

    padding: 20px;
    font-size: 18px;
    line-height: 1.7em;
    margin: 0 auto;
}
.tos h1 {
    text-align: center;
}
.tos h2 {
    margin-top: 80px;
}
.tos h3 {
    margin-top: 60px;
}
.tos h4 {
    margin-top: 40px;
}
.tos li {
    padding: 10px 0;
}


.tos h2 a:link, .tos h2 a:active, .tos h2 a:visited {
    color: #333;
    text-decoration: none;
}
.tos h2 a:hover {
    color: #666;
    text-decoration: none;
}
