.post-list {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
}
.post-list .post-list__header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 650px;
    margin: 20px auto 20px auto;
}
.post-list .post-list__header__controls {
    text-align: right;
}
.post-list .post-list__header__explanation {
    align-self: center;
    text-align: left;
    padding-left: 7px;
}
