.tag {
    display: inline-block;
    margin: 5px;
    background-color: var(--tag-background-color);
    border: thin solid var(--tag-border-color);
    font-size: 12px !important;
    padding: 0 !important;
    line-height: 1em !important;
    border-radius: 4px;
}
.tag:hover {
    filter: brightness(130%);
}

.tag a:link, .tag a:active, .tag a:visited, .tag a:hover, .tag span {
    display: inline-block;
    color: inherit;
    padding: 7px;
}
.tag .remove {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px 0 0;
}
.tag .remove svg {
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
}

