.multifactor-authentication-secret {
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.multifactor-authentication-secret button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    cursor: pointer;
}
.multifactor-authentication-secret button svg {
    color: var(--button-color);
}
.multifactor-authentication-secret button:hover svg, 
.multifactor-authentication-secret button:focus svg {
    color: var(--button-primary-highlight-color);
}
