.profile-image {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.profile-image img {
    max-width: 100%;
    height: 100%;
    border-radius: 10000px;
    /*object-fit: contain;*/
}
.profile-image svg {
    height: 100%;
    max-width: 100%;
    color: var(--main-icon-color);
}
