.user-view {
    padding: 20px 0;
    text-align: center;
}
.user-view .profile-image {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
}
.user-view .details {
    min-height: 150px;
    font-size: 16px;
    max-width: 400px;
    margin: 0 auto;
}
.user-view .details .bio {
    font-size: 14px;
}
.user-view .details div {
    padding: 12px;
}
.user-view .name {
    font-size: 2em;
}
.user-view .details svg {
    width: 20px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color); 
}
