.user-badge {
    box-sizing: border-box;
    max-width: 400px;
    padding: 10px;
}
.user-badge__grid {
    display: grid;
    grid-template-columns: 120px auto;
} 
.user-badge .profile-image {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.user-badge__details {
    padding: 10px;
    align-items: center;
    overflow: hidden;
}
.user-badge__name {
    font-size: 18px;
    overflow-wrap: break-word;
}
.user-badge__about {
    font-size: 12px;
}
