.user-view {
    padding: 20px 0;
    text-align: center;
}
.user-view .profile-image {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    height: 200px;
}
.user-view__details {
    min-height: 150px;
    font-size: 16px;
    max-width: 400px;
    margin: 0 auto;
    word-wrap: break-word;
}
.user-view__name {
    font-size: 2em;
}
.user-view__username a:link, 
.user-view__username a:visited, 
.user-view__username a:active,
.user-view__username a:hover {
    color: var(--main-text-color-dim);
}
.user-view__details .user-view__relationship {
    padding: 10px;
}
.user-view__details .user-view__about {
    padding: 14px;
    font-size: 14px;
}
