.user-tag {
    display: inline-block;
    margin-right: 5px;
}
.user-tag .profile-image {
    width: 2em;
    height: 2em;
}
.user-tag .profile-image img {
    height: 2em;
}
.user-tag .profile-image svg {
    width: 2em;
    height: 2em;
}
