.user-badge {
    box-sizing: border-box;
    min-width: 300px;
    padding: 10px;
}
.user-badge .badge-grid {
    display: grid;
    grid-template-columns: 120px auto;
} 
.user-badge .profile-image {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.user-badge .details {
    padding: 10px;
    align-items: center;
}
.user-badge .name {
    font-size: 18px;
}
