<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- descriptive meta tags -->
    <meta name="application-name" content="Communities" />
    <meta name="description" content="A social media platform that will be a non-profit, cooperative. Funded by users. Govered by those who build it and use it, together." />
    <meta name="keywords" content="social media, non-profit, cooperative, social media platform, multi-stakeholder cooperative, democratic platform, cooperative platform, cooperative social media, non-profit social media" />

    <!-- Open graph meta tags -->
    <meta property="og:title" content="Communties -- Cooperative Social Media" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A social media platform that will be a non-profit, cooperative. Funded by users. Govered by those who build it and use it, together." />
    <meta property="og:image" content="<%- require('../../client/pages/authentication/splash-banner.png') %>" />
    <meta property="og:url" content="https://communities.social" />

    <!-- Twitter open graph meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Communties -- Cooperative Social Media" />
    <meta name="twitter:description" content="A social media platform that will be a non-profit, cooperative. Funded by users. Govered by those who build it and use it, together." />
    <meta name="twitter:image" content="https://communities.social/favicon-32x32.png" />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="icon" type="image/x-icon" href="https://communities.social/favicon.ico" sizes="any" />

    <title>Communities -- Cooperative Social Media</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>
