#friends-page .menu {
    list-style-type: none;
}

#friends-page .menu li {
    font-size: 18px;
}
#friends-page .menu li:hover {
    background-color: var(--primary-color-light);
    border-radius: 10px;
}
#friends-page .menu svg {
    width: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
    color: var(--icon-color);
}
#friends-page .menu a:link,
#friends-page .menu a:visited,
#friends-page .menu a:active {
    display: block;
    padding: 10px;
    color: var(--primary-color-darkest);
}
#friends-page .menu .active a {
    font-weight: bold;
}


@media (width >= 750px) {
    #friends-page {
        margin: 50px auto;
        display: grid;
        grid-template-columns: 320px auto;
        width: 100%;
        max-width:  1740px;
    }

    #friends-page .content {
        padding: 30px;
    }
}
@media (width < 750px) {
    #friends-page .content {
        padding: 10px;
        box-sizing: border-box;
    }

    #friends-page .menu {
        text-align: center;
    }

    #friends-page .menu li {
        display: inline-block;
    }
    
    #friends-page .menu li .nav-text {
        display: block;
        font-size: 10px;
    }
}
