#home-page {
    margin: 50px auto;
    background-color: var(--page-background-color);
}

#home-page menu.home-page__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (1600px <= width) {
    #home-page {
        display: grid;
        grid-template-columns: 400px auto 400px;
        width: 100%;
        max-width: 1600px;
        margin: 50px auto;
    }

    #home-page .content {
        padding: 0 30px;
    }
}

@media (1200px <= width < 1600px) {
    #home-page {
        display: grid;
        grid-template-columns: 400px auto;
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;
    }

    #home-page .content {
        padding: 0 30px;
    }
}
@media (width < 1200px) {
    #home-page .content {
        box-sizing: border-box;
        margin: 0 auto;
    }

    #home-page .home-page__menu {
        text-align: center;
        margin: 0 auto;
    }

    #home-page .home-page__menu li {
        display: inline-block;
    }
    
    #home-page .home-page__menu li .nav-text {
        display: block;
        font-size: 10px;
    }
}
