#home-page {
    margin: 50px auto;
    background-color: var(--page-background-color);
}

#home-page menu.home-page__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


@media (width >= 750px) {
    #home-page {
        display: grid;
        grid-template-columns: 320px auto;
        width: 100%;
        max-width: 1000px;
        margin: 50px auto;
        transform: translateX(-160px); 
    }

    #home-page .content {
        padding: 0 30px;
    }
}
@media (width < 750px) {
    #home-page .content {
        padding: 0 30px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    #home-page .menu {
        text-align: center;
        margin: 0 auto;
    }

    #home-page .menu li {
        display: inline-block;
    }
    
    #home-page .menu li .nav-text {
        display: block;
        font-size: 10px;
    }
}
