.file {
    position: relative;
}
.file img {
    width: 100%;
}
.file .remove {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.file .remove svg {
    width: 24px;
    height: 24px;
    opacity: 0.75;
    color: var(--primary-color-lightest);
    filter: drop-shadow(0 0 0 rgba(0 0 0 / 0.75))
}
