.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    box-sizing: border-box;
    max-width: 650px;
    min-width: 340px;
    width: 100%;
    max-height: 100vh;

    text-align: center;
    padding: 20px;
    border: thin solid var(--main-border-color);
    border-radius: 10px;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
}
.modal__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 999;
}
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal__close svg {
    width: 24px;
    height: 24px;
    color: var(--main-border-color);
}
.modal__close svg:hover {
    filter: brightness(90%);
}
