.post-image {
    width: 100%;
    margin: 0;
    padding: 5px 0 0 0;
}
.post-image img {
    display: block;
    width: 100%;
}
.post-video {
    width: 100%;
    margin: 0;
    padding: 5px 0 0 0;
}
.post-video video {
    display: block;
    width: 100%;
}
